body{
    background-color: #4AB2B4;
}
.header {
    position: relative;
}
.header-nav-list {
    list-style: none;
    margin-top: 85px;
    margin-left: 42px;
    line-height: 1;
    font-size:30px;
}

.header-nav-list a{
    color:#D7355E;
    text-decoration: none;
    font-style: "Helvetica";
}

.header-nav-list a:hover{
    color: white; /*マウスおいたら文字色変わる*/
}

.self-introduction{
    color: white;
    margin: 0 80px 0 400px;

}

.self-introduction p{
    margin-left: 40px;
}



.me-caption{
    display: flex;
  
}

.me-img-wrap{
    align-items: flex-start;
    width: 300px;
    

}
.me-img-wrap img{
    width: 100%;
    padding-top: 18px;
}


.me-heading img{
    width: 30%;
    height: 30%;
    margin-left: 300px;
}

.self-skill {
    
    display: flex;
    align-items: center;
}

.icon-image {
    width: 100%;
    padding-left: 2vh;
}

.icon-image img {
    width: 50px;
    height: 50px;

}